/** reset **/

*,
::before,
::after {
  box-sizing: border-box;
}
:root{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #2e323f;
}

/** Resposive images  **/
img {
  max-width: 100%;
}

/** typo **/

h1 {
  font-family: "Shrikhand", sans-serif;
}
h2 {
  margin-top : 0;
}

/* margins & alignments */

.center{
  text-align: center;
}
.cart-title, 
.order_title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

/* styles */

.ital{
  font-style: italic;
  font-weight: lighter;
}

/** lists **/
ul {
  list-style: none;
}

/** links & buttons **/
a,
.btn {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: #2e323f;
}

.btn {
  /* display: inline-block; */
  /* background: #99e2d0; */
  /* color: #1b6150; */
  
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(#ffb3e9, #bb95e9);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(10, 10, 10, 0.329);
  padding: 0.8em;
  margin-top: 1em;
  margin: auto;
  max-width: 15rem;
}
.btn:hover,
.btn:focus,
.productColor:hover {
  /* opacity: 0.75; */
  transform: scale(1.1);
  transition: all 300ms;
  box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.8);
  color: #99e2d0;
 
}
.btn_validate{
  background:#99e2d0; ;
}
.btn_validate:hover{
  color:#ca2456;
}
.btn_danger{
  background: #ca2456;
  color: white;
}

button {
  border :none;
 
}

/** Cards **/

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5rem;
  row-gap: 0.5rem;

  max-width: 100%;

  margin: auto;
  margin-top: 1.5rem;
  padding: 1.2rem;

  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(10, 10, 10, 0.229);
  background: #c9f1e7;
}

.card:hover{
  transform: scale(1.001);
  transition: all 300ms;
  box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.302);
}

.card_img {
  object-fit: cover;
  width: 100%;
  max-height: 35rem;
  border: 0 solid transparent;
  border-radius: 1rem;
}
.card_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* line-height: 1.7rem; */
}
.card_title {
  text-transform: uppercase;
  font-family: "shrikhand", cursive;
  flex-wrap: wrap;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line; */
}

/** Table **/

.table {
  padding: 2rem;
}

thead {
  font-size: 1.1rem;
  text-align: center;
}

th + th{
  padding: .4rem;

}

td{
  font-size: 1rem;
  text-align: center;
}

/** Form **/

.form_input{
  max-width: 100%;
  margin-top: .5rem;
  padding: .8rem;

  border: none;
  border-radius: .8rem;
  box-shadow: 0 0.2rem 0.5rem rgba(10, 10, 10, 0.229);
}


/** container & general tags **/

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

/* header */
header {
  padding: 1em 0;
  /* text-align: center; */
}

/* main nav */
nav,
.nav_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav img {
  max-height: 50px;

}
.nav_item {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.nav_link:hover {
  color: #99e2d0;
  transition: all 300ms;
}

/* footer */
footer {
  margin-top: 1.5rem;
}
/* secondary nav */
.secondary-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.secondary-nav .nav_list {
  margin-left: -1.5rem;
}
.secondary-nav .nav_item {
  margin: auto;
  list-style: none;
  padding: 0.5em;
  justify-content: center;
  font-size: 1.1rem;
}
.secondary-nav p {
  font-size: 1.2rem;
}

/**** Pages styling stuff ****/

.bg-light{
  background: whitesmoke;
  padding: 1rem;
}

/**** Page index.html ****/

/* presentation */
.presentation {
  text-align: center;
  padding: 2rem;
  background: #c9f1e7;
  /* color:#2e323f; */

  border-radius: .5rem;
}

/**** Page produits.html ****/

/* products */

#productColors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 3rem;
}
.productColor {
margin-left: .5em;
margin-bottom: 1.5rem;
border-radius: 4rem;
}

/**** Page panier.html ****/

/* panier vide */

#emptyCart{
  height: auto;
  background: #ca2456;
  color: white;
  
  padding: 1.5rem;
  
  border-radius: 1rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cart{
  padding: 1rem;
}

.container_table{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartValidation{
  display: flex;
  justify-content: space-around; 
}

/* formulaire */

#orderFormValidation {
  display: flex;
  flex-wrap: wrap;
}

.form{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  padding: .8rem;
}

#terms{
  justify-content: flex-start;
}

#order{
  justify-content: center;
}


/**** Page order.html ****/


.order_title{
margin-top: 1.5rem;
}
.infos{
  margin-top: 2.5rem;
}
.print{
  display: flex;
}

