/** reset **/

*,
::before,
::after {
  box-sizing: border-box;
}
:root{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #2e323f;
}

/** Resposive images  **/
img {
  max-width: 100%;
}

/** typo **/

h1 {
  font-family: "Shrikhand", sans-serif;
}
h2, h3, h4 {
  margin-top : 0;
  font-size: 1.3rem;

}

/* margins & alignments */

.center {
  text-align: center;
}
.cart__title, 
.order__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

/* styles */

.ital{
  font-style: italic;

}

/** lists **/
ul {
  list-style: none;
}

/** links & buttons **/
a,
.btn {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: dimgrey;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  font-size: .9rem;
 
  background: teal;
  color: white;

  padding: 1em 2em;
  margin: 1rem auto;
  
  border-radius: .2rem;

  outline: 3px solid whitesmoke;

  transition: all ease-in-out 300ms;
  
  
  
}
.btn:hover,
.btn:focus{
  outline: 3ps solid whitesmoke;
  outline-offset: -8px;
  
  box-shadow: 0 .6rem 1rem rgba(20, 20, 20, 0.564);
 
 
}
.btn--validate{
  margin: .5rem;
  background: darkslategray;
  color : white;
}
/* .btn--validate:hover{
  color: #99e2d0;
  
} */
.btn--danger{
  background: #ca2456;
  color: white;
}
.btn--back {
  display: flex;
  justify-content: center;
  background: dimgrey;
  color: white;
  
  
}

button {
  border :none; 
  
}

input, select {
  background: whitesmoke;
  border: none;
  border-radius: .3rem;
  margin: .3rem;
  padding: .2rem;

  font-size: 1rem;
}
/** container & general tags **/

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

/* header */
header {
  padding: 1em 0;
  /* text-align: center; */
}

/* main nav */
nav,
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
nav img {
  max-height: 100px;

}
.nav__item {
  font-size: 1.25rem;
  /* margin-top: 1rem; */
  margin-left: 2rem;

}

.nav__link:hover {
  color: teal;
  transition: all 300ms;
}

/* footer */

footer {
  margin-top: 1.5rem;
}
/* secondary nav */
.secondary-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.secondary-nav .nav__list {
  margin-left: -1.5rem;
}
.secondary-nav .nav__item {
  margin: auto;
  list-style: none;
  padding: 0.5em;
  justify-content: center;
  font-size: 1.1rem;
}
.secondary-nav p {
  font-size: 1rem;
  text-align: center;
}

/** Cards **/


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 1.5rem;
  /* padding: 1.2rem; */

  border-radius: .5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(10, 10, 10, 0.229);
  background:whitesmoke;
}

.card:hover{
  transform: scale(1.001);
  transition: all 300ms;
  box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.302);
}

.card__img {
  object-fit: cover;
  overflow: hidden;
  max-width: 250px;
  max-height: 160px ;
  margin : 2rem auto auto auto;
  border: 0 solid transparent;
  border-radius: 20%;
}
.card__body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.2rem;
}
.card__content {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
 
}
.card__title {
  text-transform: uppercase;
  font-family: "shrikhand", cursive;
 
}

.card__form {

  margin-bottom: 1rem;
  padding: .5rem;
}

#color--select {
  background: white;
  
  border: transparent;
}
.card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}

/** Table **/

table {
  padding: 2rem;
  width: 100%;
  border-collapse: collapse;
}

thead {
  font-size: 1.1rem;
  text-align: center;
}

th + th{
  padding: .4rem;

}

td{
  font-size: 1rem;
  text-align: center;
}

/** Form **/

.form__input{
  max-width: 100%;
  margin-top: .5rem;
  padding: .8rem;

  border: none;
  border-radius: .8rem;
  box-shadow: 0 0.2rem 0.5rem rgba(10, 10, 10, 0.229);
}


/**** Pages styling stuff ****/

.bg--light{
  background: whitesmoke;
  padding: 1rem;
}

/**** Page index.html ****/

/* presentation */
.presentation {
  text-align: center;
  padding: 2rem;
  /* background: #e8fff9; */
  /* color:#2e323f; */
  max-width: 100%;

  /* border-radius: .5rem; */
}

/**** Page produits.html ****/

/* products */

#productColors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 3rem;
}
/* .productColor {
margin-left: .5em;
margin-bottom: 1.5rem;
border-radius: 4rem;
} */

/**** Page panier.html ****/

/* panier vide */

#emptyCart{
  height: auto;
  background: #ca2456;
  color: white;
  
  padding: 1.5rem;
  
  border-radius: 1rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cart{
  padding: 1rem;

}

.container__table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}

.clearCart{
display: flex;
justify-content: center;

}
#cartClear {
  justify-content: center;
}
#cartValidation{
  display: flex;
  justify-content: space-around; 
}

/* formulaire */

#orderForm {
  display: flex;
  flex-wrap: wrap;
}

.form{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  padding: .8rem;
}

#terms{
  justify-content: flex-start;
  align-self: flex-start;
}
.terms{
  flex-direction: row;
}

#order{
  justify-content: center;
}


/**** Page order.html ****/


.order__title{
margin-top: 1.5rem;
}
.infos{
  margin-top: 2.5rem;
  text-align: center;
}

.infos span{
  color: #ca2456;
  font-weight: bold;
  
}
.home{
  display: flex;
}



/**** responsive ****/


@media(max-width:420px){
  table  {
    display:flex;
    
  }
  thead {
    text-align: left;
    padding: .2rem;
  }
  tbody {
    text-align: center;

  }
  tr{
    display: flex;
    flex-direction: column;
    justify-content: center;
     
  }
  td{
    padding: .4rem;
    min-width: 20px;
  }
  .delete-item {
    margin: 0;
    padding: .5rem;
  }



}
@media all and (min-width: 800px){
  #containerProduct{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: .5rem;
    max-width: 100%;
  
  
  }
}