/** reset **/

*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #2e323f;
}

/** Resposive images  **/
img {
  max-width: 100%;
}

/** typo **/

h1 {
  font-family: "Shrikhand", sans-serif;
}
h2,
h3,
h4 {
  margin-top: 0;
  font-size: 1.3rem;
}

/* margins & alignments */

.center {
  text-align: center;
}
.cart__title,
.order__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

/* styles */

.ital {
  font-style: italic;
}

/** lists **/
ul {
  list-style: none;
}

/** links & buttons **/
a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: dimgrey;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;

  background: teal;
  color: white;

  padding: 1em 2em;
  margin: 1rem auto;

  border-radius: 0.2rem;

  outline: 3px solid whitesmoke;

  transition: all ease-in-out 300ms;
}
.btn a {
  color: white;
}

.btn:hover,
.btn:focus {
  outline: 3px solid whitesmoke;
  outline-offset: -8px;

  box-shadow: 0 0.6rem 1rem rgba(20, 20, 20, 0.564);
}
.btn--validate {
  margin: 0.5rem;

  color: white;
}

.btn--danger {
  background: #ca2456;
  color: white;
}
.btn--back {
  display: flex;
  justify-content: center;
  background: dimgrey;
  color: white;
  width: 15rem;
}

button {
  border: none;
}

input,
select {
  background: whitesmoke;
  border: none;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 0.2rem;

  font-size: 1rem;
}
/** container & general tags **/

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

/* header */
header {
  padding: 1em 0;
  /* text-align: center; */
}

/* main nav */
nav,
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav img {
  max-height: 100px;
}
.nav__item {
  font-size: 1.25rem;
  /* margin-top: 1rem; */
  margin-left: 2rem;
}

.nav__link:hover {
  color: teal;
  transition: all 300ms;
}

/* footer */

footer {
  margin-top: 1.5rem;
}
/* secondary nav */
.secondary-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.secondary-nav .nav__list {
  margin-left: -1.5rem;
}
.secondary-nav .nav__item {
  margin: auto;
  list-style: none;
  padding: 0.5em;
  justify-content: center;
  font-size: 1.1rem;
}
.secondary-nav p {
  font-size: 1rem;
  text-align: center;
}

/** Cards **/

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 1.5rem;

  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(10, 10, 10, 0.229);
  background: whitesmoke;
}

.card:hover {
  transform: scale(1.001);
  transition: all 300ms;
  box-shadow: 0 1rem 2rem rgba(20, 20, 20, 0.302);
}

.card__img {
  object-fit: cover;
  overflow: hidden;
  max-width: 250px;
  max-height: 160px;
  margin: 2rem auto auto auto;
  border: 0 solid transparent;
  border-radius: 20%;
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.2rem;
}
.card__content {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.card__title {
  text-transform: uppercase;
  font-family: "shrikhand", cursive;

}
.card__description {
 max-width: 60%;
}
.card__price {
  font-weight: bold;
  font-size: 1.5rem;
}
#color--select {
  background: white;
  border: transparent;
}

/** Form **/

.form__input {
  max-width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem;

  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.5rem rgba(10, 10, 10, 0.229);
}

/**** Pages styling stuff ****/

.bg--light {
  background: whitesmoke;
  padding: 1rem;
}

/**** Page index.html ****/

/* presentation */
.presentation {
  padding: 2rem;
  max-width: 100%;
}

/**** Page produits.html ****/

/**** Page panier.html ****/

/* panier vide */

#emptyCart {
  height: auto;
  background: #ca2456;
  color: white;

  padding: 1.5rem;

  border-radius: 1rem;
}

#cart {
  padding: 1rem;
}
.cart__title{
  margin-top: 1.5rem;
}
.cart__item {
  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}
.article__price {
  display: flex;
  align-items: center;
}
.article__price button {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-left: 0.5rem;

  border-radius: 0.2rem;
}

/* formulaire */

.order__form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



#orderForm {
  display: flex;
  flex-wrap: wrap;
}



.flex-col {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}


/**** Page order.html ****/

.order__title {
  margin-top: 1.5rem;
}
.infos {
  margin-top: 2.5rem;
  text-align: center;
}

.infos span {
  color: #ca2456;
  font-weight: bold;
  font-size: 1.2rem;
}
.home {
  display: flex;
}

/**** responsive ****/
@media all and (max-width:491px){
  .cart__item, .total {
    font-size: smaller;
  }
}

@media all and (max-width:810px){
  nav, .nav__list{
    justify-content: center;
  }
}

@media all and (min-width: 800px) {
  #containerProduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    max-width: 100%;
  }
  
}
